
<link rel="stylesheet" href="public/css/reset.css">
<!-- CSS reset -->
<link rel="stylesheet" type="text/css" href="public/css/default.css">
<link rel="stylesheet" href="public/css/style.css">
<script src="public/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./public/js/modules/seajs/2.2.0/sea.js"></script>
<!-- Resource style -->
<script src="public/js/modernizr.js"></script>
<!-- Modernizr -->
<script src="public/js/config.js"></script>
<script src="public/js/boot.js" type="text/javascript"></script>