
<!-- .cd-main-content -->
<script src="public/js/jquery.menu-aim.js"></script>
<script src="public/js/main.js"></script>
<!-- Resource jQuery -->
<!-- 拖拽 -->
<script type="text/javascript" src="public/js/modules/jquery/jquery.dragsort-0.5.2.min.js"></script>
<!-- colorpicker -->
<script type="text/javascript" src="public/js/modules/jquery/jquery.bigcolorpicker.min.js"></script>
<!-- drag items -->
<script type="text/javascript" src="public/js/modules/jquery/jquery-ui-1.9.1.custom.min.js"></script>
<!-- 排班插件和样式-->

<script type="text/javascript" src="public/js/modules/fullcalendar/fullcalendar-1.6.4.js"></script>