
<!-- .cd-main-content -->
<script src="public/js/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="public/js/main.js"></script>
<!-- 自定义样式 -->
<link rel="stylesheet" href="public/css/custom.css">
<!-- 排班插件和样式-->
<script type="text/javascript" src="public/js/modules/fullcalendar/fullcalendar-1.6.4.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-select-zh_CN.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="public/js/modules/bootstrap/css/bootstrap-datetimepicker.css">