<link href="public/css/jquery.bigcolorpicker.css" rel="stylesheet" type="text/css" />
<link href="public/css/fullcalendar.css" rel="stylesheet" type="text/css" />
<link href="public/css/jquery.bigcolorpicker.css" rel="stylesheet" type="text/css" />
<script src="public/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="public/js/modules/jquery/jquery.knob.js" type="text/javascript"></script>
<script type="text/javascript" src="public/js/modules/seajs/2.2.0/sea.js"></script>
<!-- Resource style -->
<script src="public/js/boot.js" type="text/javascript"></script>
<script type='text/javascript' src='./dwr/engine.js'></script>
<script type='text/javascript' src='./dwr/util.js'></script>
 
<script type='text/javascript' src='./dwr/interface/ajaxDataService.js'></script>