
<!-- .cd-main-content -->
<!-- 样式 -->
<link rel="stylesheet" href="public/css/custom.css">
<link rel="stylesheet" href="public/js/modules/bootstrap/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="public/js/modules/bootstrap/css/bootstrapValidator.min.css">
<!-- 排班插件和样式-->
<script src="public/js/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="public/js/main.js"></script>
<script type="text/javascript" src="public/js/modules/fullcalendar/fullcalendar-giscafer.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-select-zh_CN.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="public/js/modules/bootstrap/bootstrapValidator.zh_CN.js"></script>