<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FinalScheduler</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="终极排班管理系统">
    <meta name="author" content="giscafer">
    <#include "common/include_head.html"/>
    <script type="text/javascript">
    $(function() {
        $(".knob").knob();
    });
    </script>
</head>

<body class=" theme-blue">
    <!-- Demo page code -->
    <script type="text/javascript">
    $(function() {
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if (match) var color = match[1];
        if (color) {
            $('body').removeClass(function(index, css) {
                return (css.match(/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({
            html: true
        });
        //
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
       
    });
    </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
        <script src="public/js/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
    <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
    <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
    <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> FinalScheduler</span></a></div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> giscafer
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./">My Account</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Admin Panel</li>
                        <li><a href="./">Users</a></li>
                        <li><a href="./">Security</a></li>
                        <li><a tabindex="-1" href="./">Payments</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="sidebar-nav">
        <ul>
            <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="glyphicon glyphicon-user"></i> 人员管理<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="dashboard-menu nav nav-list collapse in">
                    <li><a href="#" onclick="loadUI('WEB-INF/views/person/person.html')"><span class="fa fa-caret-right"></span> 人员信息</a></li>
                    <li><a href="#" onclick="loadUI('WEB-INF/views/personGroup/group.html')"><span class="fa fa-caret-right"></span> 人员分组</a></li>
                </ul>
            </li>
            <li data-popover="true" data-content="" rel="popover" data-placement="right"><a href="#" data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-calendar"></i> 排班管理<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="premium-menu nav nav-list collapse">
                    <li><a href="#" onclick="loadUIAndRender('plan','WEB-INF/views/planset/plan.html')"><span class="fa fa-caret-right"></span> 班次设置</a></li>
                    <li><a href="#" onclick="loadUI('WEB-INF/views/schedule/scheduler.html')"><span class="fa fa-caret-right"></span> 排班管理</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-header" onclick="loadUIAndRender('check','WEB-INF/views/check/check.html')">
                    <i class="glyphicon glyphicon-flag"></i> 考勤统计</a>
            </li>
            
            <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-dashboard"></i> 统计报表<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="legal-menu nav nav-list collapse">
                    <li><a  href="#" onclick="loadUI('WEB-INF/views/statics/nonework.html')"><span class="fa fa-caret-right"></span> 休假统计</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content" id="giscafer_content" style="overflow-y:auto;">
        <div class="header">
            <div class="stats">
                <p class="stat"><span class="label label-info">5</span> Tickets</p>
                <p class="stat"><span class="label label-success">27</span> Tasks</p>
                <p class="stat"><span class="label label-danger">15</span> Overdue</p>
            </div>
            <h1 class="page-title">Dashboard</h1>
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a> </li>
                <li class="active">Dashboard</li>
            </ul>
        </div>
        <!--  <div class="main-content">
           <footer>
               <hr>
               <p class="pull-right">Collect from <a href="http://www.giscafer.com/" title="作者博客" target="_blank">作者博客</a></p>
               <p>© 2015 <a href="#" target="_blank">giscafer</a></p>
           </footer>
       </div> -->
    </div>
    <#include "common/include_footer.html"/>
    <script type="text/javascript">
    /*seajs模块化*/
    (function() {
        seajs.config({
            base: "./",
            paths: {
                'app': 'app',
                'module': 'public/js/modules',
                'common': 'public/js/common',
                'js': 'public/js'
            },
            alias: {
                "jquery": "module/jquery/1.10.1/jquery.js",
                "easyui": "module/easyui/jquery.easyui.min.js",
            }
        });
        // 加载入口模块

        seajs.use(['js/config', 'common/util', 'module/eventproxy'], function(config, util, EventProxy) {
            //设置系统跟路径
            window.hostUrl = config.options.hostUrl;
            Giscafer.ep = new EventProxy();
            util.initWinHeight("giscafer_content");
        });
    })();
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function() {
            return false;
        });
       
    });
    </script>
</body>
</html>
