<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app[
<!ENTITY dwr_web SYSTEM "classes/ajax/dwr_web.xml">
]>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<!-- spring文件导入 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		<!-- /WEB-INF/classes/spring/spring-config.xml -->
		/WEB-INF/classes/spring/spring-servlet.xml
		</param-value>
	</context-param>
	<!-- 引入dwr配置文件 -->
	&dwr_web;
	 <!--  Spring 容器启动监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
	<filter>
		<filter-name>jfinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>com.giscafer.schedule.config.ScheduleConfig</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.giscafer.general.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>